extends partials/layout.pug

block content

	h1 About our pizza!
	.image
		img(src='/img/pizza2.jpg')
	.aboutText
		p This is where we talk about pizza...
			| and another line...

		p.
			And another block of text
			with another line
